html {
    font-family: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

main {
    max-width: 1300px;
    height: 100vh;
    margin: auto;
    padding: 0 8px;
    box-sizing: border-box;
}

.breadcrumb {
    margin: 16px auto;
    padding: 1px 0px;
    font-size: .9rem;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 433px;
    background-image: url(./img/sitemapbanner.jpg);
    background-size: cover;
    background-position-y: center;
    border-radius: 10px;
    margin-top: 20px;

    color: white;
}

.jumbotron::before{
    content:"";
    opacity:1;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(30,41,51,.45);
    border-radius: 10px;
}

.jumbotron__message{
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 48px;
    padding: 107px 0;
    border: 1px solid red;
}

.jumbotron__message h1 {
    font-size: 3rem;
    line-height: 60px;
}

.jumbotron__message p {
    margin-top: 10px;
}

.jumbotron__btn {
    margin-top: 30px;
    width: 165px;
    height: 40px;
    padding: 6px 16px;
    font-size: .85rem;
    font-weight: bold;
    background-color: #7830e6;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 28px;
}

.other-logo {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
    height: 64px;
    padding: 16px 0px 8px;
    box-sizing: content-box;
}

.other-logo__logo {
    width: 128px;
    height: 64px;
}

.other-logo__logo img {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.introduction {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid rgba(57,76,96,.15);
    padding-top: 100px;
}

.introduction__message {
    width: 900px;
    height: 400px;
    text-align: center;
    margin: 0 auto;

}

.introduction__message > p {
    margin-top: 10px;
    font-size: 0.85rem;
    color: #11171d99;
    line-height: 24px;
}

table {
    margin-top: 20px;
}
.introduction__bento-message {
    width: 284px;
    height: 112px;
    padding: 12px;
}

.bento-message__icon {
    border-radius: 999px;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    background-color:#edf0f2;
}

.bento-message__icon i {
    font-size: 1.5rem;
    line-height: 48px;
}

.bento-message__message {
    margin-top: 20px;
}