html {
    font-family: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

main {
    max-width: 1300px;
    /* height: 100vh; */
    margin: auto;
    padding: 0 8px;
    box-sizing: border-box;

    word-break: keep-all;

    /* border: 1px solid red; */
}

.breadcrumb {
    margin: 16px auto;
    padding: 1px 0;
    font-size: .9rem;
    /* border: 1px solid red; */
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 433px;
    background-image: url(./img/sitemapbanner.jpg);
    background-size: cover;
    background-position-y: center;
    border-radius: 10px;
    margin-top: 20px;

    color: white;
    
}

.jumbotron::before{
    content:"";
    opacity:1;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(30,41,51,.45);
    border-radius: 10px;
}

.jumbotron__message{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin-left: 48px;
    
    /* padding: 107px 0; */
    /* border: 1px solid red; */
}

.jumbotron__message h1 {
    font-size: 3rem;
    line-height: 60px;
}

.jumbotron__message p {
    margin-top: 10px;
}

.btn {
    margin-top: 30px;
    width: 165px;
    height: 40px;
    padding: 6px 16px;
    font-size: .85rem;
    font-weight: bold;
    background-color: #7830e6;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 28px;
    text-align: center;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px 0px 8px;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(57,76,96,.15);
}

.logos__logo {
    width: 128px;
    height: 64px;
    /* border: 1px solid red; */
}

.logos__logo img {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 128px;
    height: 32px;
    object-fit: contain;
    /* border: 1px solid red; */
}

.introduction {
    width: 100%;
    margin-top: 10px;
    
    padding-top: 100px;
}

.introduction__start {
    width: 100%;
    /* height: 400px; */
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.introduction-message {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.introduction-message > p{
    margin-top: 10px;
    font-size: 0.85rem;
    color: #11171d99;
    line-height: 24px;
}

.introduction__bento-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    padding: 12px;
    /* border: 1px solid red; */
    margin: 0 auto;

}

.bento-message {
    /* border: 1px solid red; */
    width: 30%;
    margin-top: 30px;
}

.bento-message__icon {
    border-radius: 999px;
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    background-color:#edf0f2;
}

.bento-message__icon i {
    font-size: 1.3rem;
    line-height: 48px;
}

.bento-message__message {
    margin-top: 20px;
    font-size: 0.9rem;
}

.intorduction__middle {
    /* border: 1px solid red; */
}

.notebook-background {
    position: relative;
    top: 0;
    left: -80px;
    height: 100%;
    width: 110%;
    background-image: url('./img/device_w1200xh710_e1d587a4d5c85a5a0f9ad7335b6959224555f59f03a0485231b6f3f1a2e9a9d7.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.notebook-background img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-68%, -53%);
    width: 75%;
    /* border: 1px solid red; */

}

.item {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: min(40%, 450px);
    overflow: hidden;
    margin-top: 50px;
    /* border: 1px solid red; */

}

.item:first-template__child {
    background-color: #f8f9f9;
}

.item__content-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    /* border: 1px solid blue; */
}

.item__img {
    width: calc((100% - 24px) / 2);
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid red; */
    text-align: center;
}

.item__img > img {
    max-width: 100%;
    height: 100%;
}

.item__message {
    width: calc((100% - 24px) / 2);
    /* border: 1px solid green; */
    padding: 0 56px;
    margin: auto 0;
}

.item__message--number {
    width: calc((100% - 24px) / 2);
    margin: auto 0;
    border: 1px solid green;
    align-items: stretch;

    /* 너비가 줄어들때 얘의 높이는 늘어나게하는게 있나? */
}

.item__title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
}

.item__text {
    display: inline-block;
    color: rgba(17,23,29,.6);
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 30px;
}

.item__space {
    width: 24px;
    height: 24px;
}

.number {
    display: flex;
    margin-top: 25px;
    line-height: 24px;
    font-size: 14px;
}

.number:first-template__child {
    margin-top: 20px;
}

.number__icon {
    /* border: 1px solid red; */
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    background-color: #7830e6;
    border-radius: 100px;
    color: white;
    text-align: center;
}

.number__message {
    margin-left: 10px;
}

.number-list {
    /* border: 1px solid red; */
}

.right {
    flex-direction: row-reverse;
}

.introduction__end {
    /* border: 1px solid red; */
}

.end-message {
    width: 75%;
    max-width: 777px;
    text-align: center;
    margin: 0 auto;
}

.end-message h1 {
    font-size: 1.4rem;
}

.end-message span {
    color: rgba(17,23,29,.6);
    font-size: .9rem;
}

.template-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 100px;
}

.template {
    position: relative;
    width: 25%;
    padding-bottom: min(20%, 250px);
}

.template__wrapper {
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* border: 1px solid blue; */
}

.template__parent {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.template__child {
    width: 100%;
    height: 100%;
    transition: all .5s;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid green; */
}

.template__child:before  {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}

.template:hover .template__child:before {
    display: block;
}

.template:hover .template__child {
    transform: scale(1.2);
}

.template:hover .template__btn {
    display: block;
}

.template__btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

.bg1 {
    background-image: url(./img/BeigeCafeSiteMapChart.jpg);
}
.bg2 {
    background-image: url(./img/BlueandYellowSchoolSiteMapChart.jpg);
}
.bg3 {
    background-image: url(./img/OliveGreenSalonandSpaSiteMapChart.jpg);
}
.bg4 {
    background-image: url(./img/MonochromeMinimalistSiteMapChart.jpg);
}
.bg5 {
    background-image: url(./img/BlackBrownPhotoMinimalistSiteMapChart.jpg);
}
.bg6 {
    background-image: url(./img/LightPinkFloralSiteMapChart.jpg);
}
.bg7 {
    background-image: url(./img/OrangeNavyCorporateSimpleSiteMapChart.jpg);
}
.bg8 {
    background-image: url(./img/GrayandLightPinkSimpleSiteMapChart.jpg);
}

.faq {
    /* border: 1px solid red; */
    border-top: 1px solid rgba(57,76,96,.15);
    width: 100%;
}

.faq__wrapper {
    display: flex;
    width: 100%;
    max-height: 600px;
    min-height: 310px;
    margin: 96px 0 48px;
    /* border: 1px solid green; */
    
}

.faq__box-left {
    min-width: 45%;
    padding: 10px;
}

.faq__box-right {
    flex-grow: 1;
    /* border: 1px solid blue; */
    padding: 10px;
}

.accordion {
    border-bottom: 1px solid #11171d12;;
    margin-bottom: 20px;
    padding: 10px 0 20px;
}

.accordion__checkbox{
    display: none;
}

.accordion__label {
    display: block;
    position: relative;
    cursor: pointer;
    /* border: 1px solid red; */
    font-size: 1.1rem;
    font-weight: bold;
}

.accordion__label .arrow {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
}

.arccordion__message {
    max-height: 0;
    overflow: hidden;
    color: #11171d99;
    font-size: .9rem;
}


.arccordion__message p {
    display: inline-block;
    padding: 20px 0 0;
}

.accordion__checkbox:checked + .accordion__label + .arccordion__message {
    max-height: 100px;
}

.accordion__checkbox:checked + .accordion__label .arrow {
    transform: rotate(180deg);
}

.accordion__label:hover {
    color: #7830e6;
}

.etc {
    border-top: 1px solid rgba(57,76,96,.15);
    padding-top: 70px;
}

.etc__btn-list {
    margin-bottom: 30px;
}

.etc__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.etc__btn-wrapper {
    display: flex;
}

.etc__btn {
    background-color: #edf0f2;
    margin: 20px 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: .9rem;
    cursor: pointer;
}

.etc__btn:first-child {
    margin-left: 0;
}

.etc__btn:hover {
    text-decoration: underline;
}

.etc__jumbotron {
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url(./img/sitemapbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right ;
    border-radius: 10px;
}

.etc__jumbotron::before {
    content: '';
    background-color: rgba(0,0,0,.4);
    position: absolute;
    width: 100%;
    height: 100%;
}

.etc__jumbotron-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    max-width: 848px;
    width: 100%;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    /* border: 1px solid red; */
    text-align: center;
}

.etc__jumbotron-btn {
    margin:20px auto;
}

@media screen and (max-width:1300px) {
    main {
        padding: 0 32px;
    }

    .jumbotron__message {

    }
}

@media screen and (max-width:1200px) {
    .logos__logo {
        width: 30%;
    }

    .logos__logo img {
        /* display: block; */
        margin: auto;
    }
}

@media screen and (max-width:1000px) {
    .number {
        margin-top: 0px;
    }

    .number:first-template__child {
        margin-top: 0px;
    }

    .item__message--number .btn {
        margin: 0;
    }
}

@media screen and (max-width:900px) {
    main {
        padding: 0 0;
    }   

    .breadcrumb {
        padding: 1px 32px;
    }
    
    .jumbotron {
        height: 240px;
        border-radius: 0;
    }
    
    .jumbotron__message {
        width: 95%;
        margin: 0 auto;
    }

    .jumbotron__message h1 {
        font-size: 36px;
        line-height: 45px;
    }

    .jumbotron__btn {
        width: 100%;
        text-align: center;
    }

    .introduction {
        padding-top: 50px;
    }

    .introduction__start {
        padding: 0 24px;
    }

    .introduction-message {
        text-align: start;
    }

    .introduction-message h1{
        font-size: 20px;
    }

    .introduction__bento-message {
        padding: 20px 0 0 0;
    }

    .bento-message {
        display: flex;
        width: 50%;
        margin-top: 10px;
    }

    

    .bento-message__icon {

    }

    .bento-message__message {
        margin-top: 0;
        /* border: 1px solid red; */
        width: 330px;
        text-align: start;
        line-height: 1.4rem
    }
}

@media screen and (max-width:600px) {
    .jumbotron {
        height: 305px;
    }

    .logos__logo {
        width: 50%;
    }

    .bento-message {
        width: 100%;
    }

    .bento-message__message {
        width: 100%;
        margin-left: 20px;
        /* line-height: 48px; */
        /* border: 1px solid red; */
    }
    
}